Repository mbta/skate, pull requests merged in 2025-02, with the labels that each got.

#2959 tweak: pin earlier version step of getSentry action
  .github/workflows/deploy-base.yml
Labels: deploy-to-dev-green

#2946 fix: speed up Detour queries by returning subsets of JSON snapshot
  lib/notifications/db/detour.ex
  lib/notifications/db/notification.ex
  lib/skate/detours/db/detour.ex
  lib/skate/detours/detour.ex
  lib/skate/detours/detours.ex
  lib/skate_web/controllers/detours_admin_controller.ex
  lib/skate_web/controllers/detours_admin_html/index.html.heex
  test/skate/detours/db_test.exs
  test/skate/telemetry_test.exs
  test/skate_web/controllers/detours_controller_test.exs
Labels: do-not-merge

#2969 fix: correct `ArrowDownLeftSquare` icon
  assets/src/helpers/bsIcons.tsx
Labels: deploy-to-dev-blue

#2962 feat: Populate detours list with channels
  assets/src/components/detourListPage.tsx
  assets/src/components/routeLadders.tsx
  assets/src/hooks/useDetour.ts
  assets/src/hooks/useDetours.ts
  assets/tests/components/detours/__snapshots__/detourListPage.test.tsx.snap
  assets/tests/components/detours/detourListPage.test.tsx
  assets/tests/components/detours/detoursListPage.addDetour.test.tsx
  assets/tests/components/detours/detoursListPage.openDetour.test.tsx
  assets/tests/components/detours/diversionPage.delete.test.tsx
  assets/tests/components/detours/diversionPage.editDuration.test.tsx
  assets/tests/components/detours/diversionPage.saveDetour.test.tsx
Labels: deploy-to-dev-green, do-not-merge
